<a href="https://colab.research.google.com/github/meb-meeka/2020-S2/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
In [140]: import pandas as pd
     ...: import numpy as np

In [2]:
In [141]: url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [3]:

In [142]: iris = pd.read_csv(url)

In [4]:
In [143]: iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [9]:
# detect null 
null=pd.isnull(iris)
null.head()

     5.1    3.5    1.4    0.2  Iris-setosa
0  False  False  False  False        False
1  False  False  False  False        False
2  False  False  False  False        False
3  False  False  False  False        False
4  False  False  False  False        False

In [10]:
# Count Missing values 
pd.isnull(iris).sum().sum()

0